
{% for data in info %}
<style>
body {
    background: url({{ data.thumbnail }}) no-repeat center center fixed;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
</style>
<div class="container">
<div class="row mt-20 aboutbox" style="background-color:#fff">
<div class="col col-sm-12">
   <h2 class='page-title'>{{ data.title }}</h2>
    <div>
    {{ data.content }}
    </div>
</div>
</div>
</div>

<div class="container">
<div class="row mt-20 aboutbox" >
<div class="col col-sm-12 col-md-12 col-lg-6 pr0"><img src="{{ data.image1 }}" class="img-fluid"></div>
<div class="col col-sm-12 col-md-12 col-lg-6" style="background-color:#FF3C16">{{ data.description1 }}</div>

</div>
</div>

</div>
<div class="container">
<div class="row mt-20 aboutbox" >
<div class="col col-sm-12 col-md-12 col-lg-6 pr0"><img src="{{ data.image2 }}" class="img-fluid"></div>
<div class="col col-sm-12 col-md-12 col-lg-6 " style="background-color:#127427">{{ data.description2 }}</div>

</div>
</div>
<div class="container">
<div class="row mt-20 aboutbox" >
<div class="col col-sm-12 col-md-12 col-lg-6 pr0"><img src="{{ data.image3 }}" class="img-fluid"></div>
<div class="col col-sm-12 col-md-12 col-lg-6 " style="background-color:#F19F31">{{ data.description3 }}</div>

</div>
</div>


{% endfor %}
