

<div class="container">
<div class="row ">
{% for blog in blogs %}
<div class="col col-sm-12 col-md-3 col-lg-3 fullborder" style='background-color:#fff'>

  <div class="media-body">
<h5 class="mt-0 page-title">{{ blog.title }}</h5>
<img class="align-self-start img-fluid" style="max-width:250px" src="{{ blog.thumbnail }}" alt="Generic placeholder image">

 <p class="mb-0 ">
    {{ blog.excerpt }}
    </p>
    <p class="mb-0">
    <div class="blogdate">
     {{blog.time}}
    </div>
    <span class="blog">
    <b>By:</b>{{ blog.author }}
    </span>
<br/>
<a href="{{ blog.permalink}}" style="color:#cc0000"> Read more </a>
    </p>



  </div>
</div>



{% endfor %}
</div>
</div>

