<style>
body {
    background: url(https://wpizza.cmsdeveloper.net/wp-content/uploads/2020/08/adam-smigielski-e1S4uI788yE-unsplash.jpg) no-repeat center center fixed;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
</style>

<div class="container">
<div class="row justify-content-center">
<div class="col-12">
<h2 class="front-title mt-1 white">Specialities</h2>
</div>
{% for item in items %}
<div class="col col-sm-12 col-md-3 col-lg-3 fullborder" style="background-color:#fff">

  <div class="media-body">
<h5 class="mt-0 page-title">{{ item.title }}</h5>
<img class="align-self-start img-fluid" style="max-width:250px" src="{{ item.thumbnail }}" alt="Generic placeholder image">

 <p class="mb-0  price">
    ${{ item.price }}
    </p>
    <p class="mb-0">
    {{ item.content }}
    </p>

  </div>
</div>



{% endfor %}
</div>
</div>

