<div class="col-sm-2 col-md-4">
<img src="{{ url }}" class="img-fluid" >

</div>
<div class="col-sm-10 col-md-8">

<div class="reservation-info">
      <form class="reservation-form" method="post">
          <h2>Make a reservation</h2>
          <div class="form-group">
              <input type="text" name="name" placeholder="Name" required>
          </div>
          <div class="form-group">
              <input type="datetime-local" name="date" placeholder="Date"  required>
          </div>
          <div class="form-group">
              <input type="text" name="email" placeholder="E-Mail">
          </div>
          <div class="form-group">
              <input type="tel" name="phone" placeholder="Phone Number" required>
          </div>

          <div class="form-group">
              <textarea name="message" placeholder="Message" requires></textarea>
          </div>
<div class="g-recaptcha" data-sitekey="6LefR8wZAAAAANOk4mc-PiinJBdT8hgHovUUu5t9"></div>
           <input type="submit" name="reservation" value="Send" class="btn btn-reservation">
            <input type="hidden" name="HIDreservation" value="1">


      </form>
  </div>
  </div>

