 <div class="wrap">
      <h1>Reservations</h1>
      <table class="wp-list-table widefat striped">
          <thead>
              <tr>
                  <th class="manage-column">ID</th>
                  <th class="manage-column">Name</th>
                  <th class="manage-column">Date of Reservation</th>
                  <th class="manage-column">Email</th>
                  <th class="manage-column">Phone Number</th>
                  <th class="manage-column">Message</th>
                  <th class="manage-column">Delete</th>
              </tr>
          </thead>

          <tbody>

                    {% for reservation in  reservations  %}
                    <tr>
                        <td>{{ reservation.id }}</td>
                        <td>{{ reservation.name }}</td>
                        <td>{{ reservation.date }}</td>
                        <td>{{ reservation.email }}</td>
                        <td>{{ reservation.phone }}</td>
                        <td>{{ reservation.message }}></td>
                        <td>
                            <a href="#" class="remove_reservation" data-reservation="{{ reservation.id }}">Remove</a>
                        </td>
                    </tr>
                 {% endfor %}

          </tbody>
      </table>
  </div>

