
{% for blog in info %}
<h3 class="mt-5 page-title"> {{ blog.title }}</h3>
<div class="blogdate">
     {{blog.time}}
    </div>
    <span class="blog">
    <b>By:</b>{{ blog.author }}
    </span>


<p class="mb-0 ">
    {{ blog.content }}
</p>
{% endfor %}



