/*
  Theme Name: La Pizzeria
  Theme URI:
  Author: Aly Dawood
  Author URI:
  Description: Theme for Restaraunts
  Version: 1.0
  License: GNU General Public License v2 or later
  License URI: http://www.gnu.org/licenses/glp-2.0.html
  Tags: restaurant, mobile first, responsive, pizza
  Text Domain: lapizzeria
*/
@import url('https://fonts.googleapis.com/css2?family=Lexend+Peta&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alata&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
div.logo {
    text-align: center;
  }
  @media only screen and (min-width:768px) {
    div.logo {
      text-align: left;
    }
  }
  @media only screen and (min-width:992px) {
    div.logo {
      text-align: center;
    }
  }
  img.logoimage {
    width: 200px;
  }
  .bg-light{
      background-color: #F19F31 !important;
  }
  .navborder{
    border-top:2px  #127427 solid;
  }
  .fullborder{
    border:1px  #127427 solid !important;
    margin:2px 2px 2px 2px;
  }
  .nav-link{
      color:#000;
      font-family: 'Lexend Peta', sans-serif;
      font-size:12px;
      font-variant: small-caps;
   }
   .nav-link:hover{
    color:#000;
    border-bottom:2px  #00BD00 solid;
  }

  header.headerbg {
    background: url(https://wpizza.cmsdeveloper.net/wp-content/themes/lapizza/img/headerbg.jpg) no-repeat center center fixed;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.mt-20{
 margin-top:20px !important;
}
.pl0{
padding-left:0px !important;
}
.pr0{
    padding-right:0px !important;
    }
.aboutbox{

    padding: 10px 10px 10px 10px !important;

}
.page-title, .reservation-form h2{
    color:#00BD00 ;
      font-family: 'Lexend Peta', sans-serif;
      font-size:20px;
      font-variant: small-caps;
}
.price {
    font-family: 'Alata', sans-serif;
}
span.blog{
    color:#2D1402;
      font-family: 'Lexend Peta', sans-serif;
      font-variant: small-caps;
      font-size: 12px;

}
.blogdate{

    width:30px;
    height:30px;
    background-color:#F19F31;
    color:#fff;
    font-size: 12px;
    font-weight: bold;
    font-family: 'Lexend Peta', sans-serif;
    font-variant: small-caps;
   text-align:center;
   padding-top:5px;

}

.btn-reservation,.btn-readmore {
    color: #fff;
    background-color: #DC3937;
    border-color: #DC3937;
}

.front-title{
    font-family: 'Anton', sans-serif;
    color:#00BD00;
}
.bgwhite{
    background-color: #fff;
}
.white{
    color:#fff !important;
}
